@import '../../styles/index';

.mainNavigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: pxToRem(83);
    padding-top: $primary-vertical-space;

    &_toggleMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxToRem(48);
        height: pxToRem(48);
        border-radius: 50%;
        background: transparent;

        &__turnedOn {
            display: none;
        }

        &:hover, 
        &:active, 
        &:focus {
           background: $hover;
           border: none;
           outline: none;
        }

        @include lg {
            display: none;
        }
    }

    &_menu {
        display: none;

        &__open {
            display: flex;
        }

        @include lg {
            display: flex;
        }
    }

    &_link {
        width: pxToRem(148);
        height: pxToRem(25);
    }
}

.menu {
    position: fixed;
    left: 50%;
    top: 50%;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100vw;
    height: 100dvh;
    padding: $primary-vertical-space $primary-horizontal-space;
    background: rgba($primary-text, 90%);
    transform: translate(-50%, -50%);
    z-index: 100;

    @include lg {
        position: static;
        align-items: center;
        flex-wrap: nowrap;
        gap: pxToRem(45);
        width: max-content;
        height: fit-content;
        padding: 0;
        background: $primary-background;
        transform: none;
    }

    &_logo {
        width: pxToRem(148);
        height: pxToRem(25);
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding-bottom: pxToRem(16);
        border-bottom: solid pxToRem(1) rgba($secondary-text, 50%);

        @include lg {
            display: none;
        }
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: min-content;
        list-style: none;

        @include lg {
            flex-direction: row;
            gap: pxToRem(45);
        }
    }

    &_listItem {
        width: 100%;
        border-bottom: solid pxToRem(1) rgba($secondary-text, 50%);

        @include lg {
            border: none;
        }
    }

    &_closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxToRem(48);
        height: pxToRem(48);
        background: transparent;
        border-radius: 50%;

        &:hover, 
        &:active, 
        &:focus {
            background: $hover;
            border: none;
            outline: none;
        }
    }

    &_socials {
        position: absolute;
        bottom: 0;
        display: flex;
        gap: $primary-vertical-space;
        padding-bottom: $primary-vertical-space;

        @include lg {
            display: none;
        }
    }

    &_socialLink {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}