$primary-background: hsl(0, 0%, 100%);
$secondary-background:hsl(231, 69%, 60%);
$primary-text: 	hsl(230, 33%, 21%);
$secondary-text:hsl(229, 8%, 60%);
$accent-text: hsl(240, 6%, 38%);
$accent-item:hsl(0, 94%, 66%);
$hover: rgba($secondary-text, 0.15);
