@import '/src/styles/handlers';
@import '/src/styles/breakPoints';

$primary-horizontal-space: pxToRem(30);
$primary-vertical-space: pxToRem(35);
$dc-content-width: pxToRem(1120);
$radius: pxToRem(5);