@import '/src/styles/index';

.footer {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: $primary-text;

    &_formWrapper {
        width: 100%;
        background: $secondary-background;
    }

    &_contentWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $primary-vertical-space * 2;
        width: 100%;
        max-width: $dc-content-width;
        min-height: pxToRem(50);
        padding: $primary-vertical-space $primary-horizontal-space;
        margin: auto;

        @include lg {
            flex-direction: row;
            justify-content: flex-start;
        }
        
        @include rwd(1180px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: $primary-horizontal-space;
        list-style: none;

        @include lg {
            flex-direction: row;
        }
    }

    &_socials {
        display: flex;
        align-items: center;
        gap: $primary-vertical-space;

        @include lg {
            position: absolute;
            right: $primary-horizontal-space;
        }

        @include rwd(1180px) {
            right: 0;
        }
    }

    &_socialLink {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}