@import '/src/styles/index';

.overflowHidden {
  overflow: hidden;
}

.mainArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 0 $primary-horizontal-space;
  margin: auto;

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100dvh - pxToRem(83) - pxToRem(145));
  }

  @include lg {
    max-width: $dc-content-width;

  }

  @include rwd(1180px) {
    padding: 0;
  }
}