@import '/src/styles/handlers';

.overflow-hidden {
  overflow: hidden;
}

.main_article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 0 pxToRem(30);
  margin: auto;
  overflow-x: hidden;

  @media screen and (min-width: 1024px) {
    max-width: pxToRem(1120);

  }

  @media screen and (min-width: 1180px) {
    padding: 0;

  }
}