@import '/src/styles/index';

.overflow-hidden {
  overflow: hidden;
}

.main_article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 0 $primary-horizontal-space;
  margin: auto;

  @include lg {
    max-width: $dc-content-width;

  }

  @include rwd(1180px) {
    padding: 0;
  }
}