@import '/src/styles/index';

.mainArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100dvh;
  padding: 0 $primary-horizontal-space;
  margin: auto;

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: $primary-vertical-space * 3;
    width: 100%;
    padding-top: $primary-vertical-space * 2;
    padding-bottom: $primary-vertical-space * 2;
    min-height: calc(100dvh - pxToRem(83) - pxToRem(145));
  }

  @include lg {
    max-width: $dc-content-width;

  }

  @include rwd(1180px) {
    padding: 0;
  }
}